*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-weight: 600; */
    /* background-color: rgba(217, 217, 217, 1); */
}

.H1{
    padding-left: 8%;
    padding-top: 50px;
    /* padding-right: 8%; */
    font-size: 98px;
    font-weight: 700;
    line-height: 112px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 600px;
    margin: 18% 14% 0;
    background-color: rgba(217, 217, 217, 1);
}
.H5{
    padding-left: 21%;
    font-size: 98px;
    font-weight: 700;
    line-height: 112px;
    letter-spacing: -0.04em;
    text-align: left;
    width: 600px;
    /* margin: 18% 14% 0; */
   
}
.btn{
    display: flex;
    gap: 24px;
    margin: 2% 24% auto;
}
.redText {
    color: rgb(244, 105, 105);; /* Color for "PRO" */
  }
.main{
    display: flex;
    gap :150px;
    margin: auto;
    background-color: rgba(217, 217, 217, 1);
}
.IMG{
    /* width: 400px; */
    height: 550px;
    margin: 3% ;
    background-color: rgba(217, 217, 217, 1);
}

@media (max-width: 768px) {
    .H1{
        font-family: Inter;
        font-size: 42px;
        font-weight: 400;
        line-height: 56px;
        text-align: left; 
        width: 80vw;
        /* color: aliceblue; */
        margin: 20% 8% auto;
    }
    .H5{
        font-family: Inter;
        font-size: 28px;
        font-weight: 400;
        line-height: 36px;
        text-align: left; 
        width: 80vw;
        /* color: aliceblue; */
        margin: 7% 7% auto;
    }
    .IMG{
        /* display: none; */
        width:400px;
        height:300px;
        /* margin: 10% ; */
    }
    .main{
        display:block;
        background-color: rgba(217, 217, 217, 1);
    }
}