.boxContainer {
    padding: 12%;
    margin: 0%;
    background-color: #f9f9f9;
    border-radius: 18px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabContainer {
    margin-bottom: 20px;
    gap: 2%;
}
/*  */
.tabPanel {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(140, 32, 32, 0.1);
}

.heading {
    font-size: 1.5em;
    color: #333;
}

.text {
    font-size: 1.1em;
    color: #666;
}

.customTab {
    padding: 1%;
    font-size: 1.2em;
    font-weight: bold;
    color: #e8dfdf;
    background-color: #e66b6b;
}

.customTabSelected {
    background-color: #319795;
    color: #fff;
}
